/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea
/app/config/security.yml
/web/images/player_profile/
/web/images/team_category/
/web/js/*
/web/css/*
