<div class="row bottom-buffer">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                 info
            </div>
        </div>
    </div>
</div>