{% extends 'MNUsefulBundle::admin_layout.html.twig' %}

{% block content -%}
    <h1>Player creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_player') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    {{ form_javascript(form) }}
{% endblock %}
